.portfolio {
  max-width: 600px;
  margin: auto;
}

.portfolio__title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 72px;
  margin-bottom: 51px;
}

.portfolio__subtitle {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  opacity: 64%;
  margin-bottom: 75px;
}
