.card {
  /* border: 1px solid black; */
  max-width: 370px;
  max-height: 416px;
  border-radius: 12px;
  position: relative;
}

.card:hover {
  box-shadow: 0px 0px 7px 4px rgba(79, 226, 74, 0.5);
}

.card__activ {
  box-shadow: 0px 0px 7px 4px rgba(79, 226, 74, 1);
}

.card__overlay {
  position: relative;
}

.card__overlay::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 416px;
  position: absolute;
  content: "";
  background: #5c2000;
  opacity: 32%;
  border-radius: 12px;
}

/* #4fe24a */

.card__img {
  max-width: 370px;
  max-height: 416px;
}

.card__title {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 62px;
  left: 50px;
  font-size: 40px;
  color: white;
}

.card__category {
  position: absolute;
  bottom: 122px;
  left: 50px;
  width: 84px;
  height: 38px;
  border: none;
  background-color: white;
  border-radius: 30px;
  font-size: 16px;
}

