.NavBar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 135px * 2);
  margin: 0 auto;
  color: white;
  margin-top: 16px;
  margin-bottom: 103px;
  max-height: 48px;
}

.logo {
  display: flex;
}

.logo__title {
  font-size: 24px;
  margin: auto 0;
}

.logo__img {
  width: 44px;
  height: 46px;
  margin-right: 15px;
}

.navigation {
  display: flex;
  min-width: 513px;
  justify-content: space-around;
}

.navigation__item {
  font-size: 16px;
  opacity: 1;
  cursor: pointer;
}

.navigation__item:hover {
  opacity: 0.7;
}

.NavBar__button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
  width: 138px;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
}

.NavBar__button:hover {
  opacity: 0.7;
}
